<div class="row row-cols-3 g-3 mt-4">
  <div class="col">
    <div class="card">
       <%= image_tag "we-work.jpg", height: 300,class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Meet - Coffe</h5>
        <p class="card-text">
          Primer proyecto 
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
       <%= image_tag "iguana.png", height: 300,class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Iguana Page</h5>
        <p class="card-text">
          Segundo Proyect
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
            <%= image_tag "ricomida.jpg", height: 300,class:"card-img-top" %>

      <div class="card-body">
        <h5 class="card-title">Ricomida</h5>
        <p class="card-text">Tercer Proyecto</p>
      </div>
    </div>
  </div>
 
</div>